<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs', {title: title}) %>
    <link href="/stylesheets/result.css" rel="stylesheet">
    <style>
        .res-box {
            width: 100%;
            height: 100%;
            border-radius: 5%;
            overflow: hidden;
        }
        .res-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
</head>
<body>
<%- include('header.ejs') %>
<main>
    <%if(path === 'mbti') { %>
        <%- include(`./components/mbti.ejs`, { image: result.image, title: result.title, desc: result.desc }) %>
    <%}%>
    <%if(path === 'average') { %>
        <%- include(`./components/average.ejs`, {title: result.title, desc: result.desc}) %>
    <%}%>
    <%if(path === 'taste') { %>
        <%- include(`./components/taste.ejs`, {title: result.title, desc: result.desc}) %>
    <%}%>
</main>
<%- include('footer.ejs') %>
</body>

</html>
