<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head.ejs', {title: title}) %>
    <link href="/stylesheets/content.css" rel="stylesheet">
    <script>
        const qnaList = JSON.parse(`<%- content %>`.replaceAll('&#34;', '\"'))
        const shared = Boolean('<%- shared%>')
    </script>
</head>
<body>
<%- include('../components/header.ejs') %>
<main>
    <div id="start-page" class="card w-75 mx-auto text-center">
        <div class="content-title-box">
            <img src="<%- contentHeaderImage %>" alt="소소식탁" class="content-title-box-img">
        </div>
        <h5 class="card-title"><%- contentHeaderTitle %></h5>
        <p class="card-text"><%- contentHeaderDesc %></p>
        <input type="button" value="시작하기" class="btn btn-outline-secondary" onclick="start(`${qnaList.length}`,'<%= contentName %>', shared)">
    </div>
    <div id="qna-page" class="card w-75 mx-auto text-center"><div class="card-body gap-2">
            <div class="progress">
                <div class="progress-bar  bg-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="qBox card-title"></div>
            <div class="aBox d-flex flex-column"card-body d-grid gap-2 col-6 mx-auto></div>
            <button id="back-btn" type="button" class="btn">이전</button>
        </div>
    </div>
</main>
<%- include('../components/footer.ejs') %>
<script src="/javascript/main.js"></script>
</body>
</html>
